@font-face {
    font-family: "Myriad Pro";
    src: url('../fonts/myriadpro/myriadproregular.eot');
    src: url('../fonts/myriadpro/myriadproregular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/myriadpro/myriadproregular.svg#Myriad Pro') format('svg'),
    url('../fonts/myriadpro/myriadproregular.woff') format('woff'),
    url('../fonts/myriadpro/myriadproregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Myriad Pro", "Myriad", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 1.1em;
    
    overflow: auto;
    height: 100%;
    
    background: #f9f9f9;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.02) 20%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.02) 80%, rgba(0,0,0,0.05) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.05)), color-stop(20%,rgba(0,0,0,0.02)), color-stop(50%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0.02)), color-stop(100%,rgba(0,0,0,0.05)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.02) 20%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.02) 80%,rgba(0,0,0,0.05) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.02) 20%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.02) 80%,rgba(0,0,0,0.05) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.02) 20%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.02) 80%,rgba(0,0,0,0.05) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.02) 20%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.02) 80%,rgba(0,0,0,0.05) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#0d000000',GradientType=1 );
}

#header {
    min-width: 800px;
    width: 60%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
}

#header #bywho {
    margin-top: 25px;
    float: right;
    color: #777;
}

#header #bywho .left {
    float: left;
    text-align: right;
    padding-right: 10px;
    color: #ccc;
}

#header #bywho .right {
    float: right;
}

#logo {
    width: 60%;
    height: auto;
}

#content {
    min-width: 800px;
    width: 60%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    overflow: auto;
}

article {
    width: 92%;
    padding: 0 4%;
    text-align: justify;
}

article header h1 {
    font-size: 26pt;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

article header .tiny {
    color: #777;
    font-size: 10pt;
    font-weight: lighter;
}

article p {
    color: #222;
}

article hr.separator {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 40px auto;
}

footer {
    text-align: center;
    font-size: 8pt;
    color: #777;
    padding: 10px 0;
}